@import 'public/scss/colors.scss';
.inputSearchByData{
  position: relative;
  margin-bottom: 10px;
  left: 18%;
  width: 135px;
  height: 25px;
  border: 2px solid $primary-color;
  border-radius: 5px;
}

.labelSearchByData{
  position: relative;
  bottom: 20px;

  left: 18%;
  font-family: $default-font;
  font-size: 20px;
  top: 2px;
}

.buttonSearchByData{
  margin-bottom: 10px;
  margin-left: 19%;
  font-family: $default-font;
  width: 80px;
  height: 25px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
