<h1 class='titulo'>Relatorios</h1>

<div>
  <label for="data" class="labelSearchByData">Data da pesquisa :</label>
  <input type="Date" name="data" value="" class = "inputSearchByData">
  <button type="button" name="button" class = "buttonSearchByData">Perquisar</button>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Data</th>
      <th>Nome</th>
      <th>Marca</th>
      <th>Descricao</th>
      <th>Lucro Total</th>
    </tr>
  </thead>
    <tbody class="linhaTabela">
      <tr>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
        <td>{{}}</td>
    </tr>
  </tbody>
</table>
