<div ng-include="'js/directives/impulseHeader.html'"></div>

<div>
  <form ng-submit='searchByData(novaData)'>
    <label for="data" class="labelSearchByData">Data da pesquisa :</label>
    <input type="Date" name="data" class = "inputSearchByData" ng-model = "novaData.data">
    <button type="submit" name="button" class ="buttonSearchByData">Perquisar</button>
  </form>
</div>


<table class="table">
  <thead>
    <tr>
      <th id="th">Nome</th>
      <th id="th">Marca</th>
      <th id="th">Lucro</th>
    </tr>
  </thead>
    <tbody class="linhaTabela">
      <tr ng-repeat="report in reports">
        <td>{{report.nome}}</td>
        <td>{{report.marca}}</td>
        <td>{{report.lucro}}</td>
      </tr>
    </tbody>
</table>

<div class='divTotal'>
  <label for="total" class="labelTotal">Total Lucrado :</label>
  <span type="number" class="imputTotal" name="" >{{lucroTotal | currency: "R$"}}</span>
</div>
<div ng-include="'js/directives/impulseFooter.html'"></div>
