
<label for="search" class="labelSearch">Procurar</label>
<input type="text" name="search" class = "inputSearch" ng-model="filtro">

<button type="button" name="button" class="btnNewProduct" ng-click='openNewProduct()'>Novo Produto</button>

<table class="table">
  <thead>
    <tr>
        <th id="th">Nome</th>
        <th id="th">Marca</th>
        <th id="th">Descricao</th>
        <th id="th">Quantidade</th>
        <th id="th">Custo</th>
        <th id="th">Venda</th>
        <th id="th">Lucro</th>
        <th id="th">Validade</th>
        <th id="th">Alterar</th>
        <th id="th">Remover</th>
    </tr>
  </thead>
    <tbody class="linhaTabela">
      <tr ng-repeat="product in products|filter: filtro">
        <td id = "td">{{product.nome}}</td>
        <td id = "td">{{product.marca}}</td>
        <td id = "td">{{product.descricao}}</td>
        <td id = "td">{{product.quantidade}}</td>
        <td id = "td">{{product.custo}}</td>
        <td id = "td">{{product.venda}}</td>
        <td id = "td">{{product.lucro}}</td>
        <td id = "td">{{product.validade}}</td>
        <td id = "td"><button type="button" name="button" class="alterButtom"  ng-click='openUpdateProductModal(product)'>Alterar</button></td>
        <td id = "td"><button type="button" name="button" class="deleteButtom" ng-click='deleteProduct(product)'>Remover</button></td>
    </tr>
  </tbody>
</table>

<!-- <div class='divTotal'>
  <label for="total" class="labelTotal">Total Lucrado :</label>
  <span type="number" class="imputTotal" name="total" >{{lucroTotal | currency: "R$"}}</span>
</div> -->

<div ng-include="'partials/newProductModal.html'" ></div>
<div ng-include="'partials/updateProductModal.html'" ></div>
