<h1 class='titulo'>Relatorios</h1>

<div>
  <form ng-submit='searchByData(novaData)'>
    <label for="data" class="labelSearchByData">Data da pesquisa :</label>
    <input type="Date" name="data" class = "inputSearchByData" ng-model = "novaData.data">
    <button type="submit" name="button" class ="buttonSearchByData">Perquisar</button>
  </form>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Marca</th>
      <th>Lucro</th>
    </tr>
  </thead>
    <tbody class="linhaTabela">
      <tr>
        <td>{{report.nome}}</td>
        <td>{{report.marca}}</td>
        <td>{{report.lucro}}</td>
      </tr>
    </tbody>
</table>
