<div class="UserModal" ng-class="{opened: Open}" id="modalForm">
<form ng-submit="changeUser(userInEdition)">
  <div class="containerModal">
      <div class="new_form-group --flex">
        <label class="labelFolrm" for="first_name">Nome :</label>
        <input type="text" class="imputForm" name="first_name" placeholder="Nome do Cliente" ng-model="userInEdition.first_name">
      </div>

      <div class="new_form-group --flex">
        <label class="labelFolrm" for="last_name">Sobrenome :</label>
        <input type="text" class="imputForm" name="last_name" placeholder="Nome do Cliente" ng-model="userInEdition.last_name">
      </div>

      <div class="new_form-group --flex">
        <label class="labelFolrm" for="email">Email :</label>
        <input type="text" class="imputForm" name="email" placeholder="Email" ng-model="userInEdition.email">
      </div>

      <div class="new_form-group --flex " id="passwordModal">
        <label class="labelFolrm" for="password">Senha :</label>
        <input type="text" class="imputForm" name="password" placeholder="Senha" ng-model="userInEdition.password">
      </div>

      <div class="new_form-group --flex">
        <label class="labelFolrm" for="active">Status :</label>
        <input type="checkbox" name="active" id="check" ng-change="change()" ng-model="userInEdition.active.value">
      </div>

      <div>
        <button type="submit" name="button" class="changeButtom">Salvar</button>
      </div>

      <div>
        <button type="button" name="button" class="closeButtom" ng-click='closeUpdateUserModal()'>Cancelar</button>
      </div>
  </div>
</form>
</div>
