<div class="modal" id="modalForm">
<form>
  <div class="containerModal">
      <div class="new_form-group --flex">
        <label class="labelFolrm" for="name">Nome :</label>
        <input type="text" class="imputForm" name="name" placeholder="Nome do Cliente" ng-model="userInEdition.name">
      </div>

      <div class="new_form-group --flex">
        <label class="labelFolrm" for="email">Email :</label>
        <input type="text" class="imputForm" name="email" placeholder="Email" ng-model="userInEdition.email">
      </div>

      <div class="new_form-group --flex">
        <label class="labelFolrm" for="phone">Telefone :</label>
        <input type="text" class="imputForm" name="phone" placeholder="Telefone" ng-model="userInEdition.phone">
      </div>


       <div class="new_form-group --flex">
         <label class="labelFolrm" for="rg">RG :</label>
         <input type="text" class="imputForm" name="rg"  ng-model="userInEdition.rg">
       </div>

       <div class="new_form-group --flex">
         <label class="labelFolrm" for="cpf">CPF :</label>
         <input type="text" class="imputForm" name="cpf" ng-model="userInEdition.cpf">
       </div>

      <div class="new_form-group --flex">
        <label class="labelFolrm" for="email">Endereco :</label>
        <input type="text" class="imputForm" name="address_name" placeholder="Endereco" ng-model="userInEdition.address_name">
      </div>

      <div class="new_form-group --flex">
        <label class="labelFolrm" for="email">Bairro :</label>
        <input type="text" class="imputForm" name="neighborhood" placeholder="Complemento" ng-model="userInEdition.neighborhood">
      </div>

      <div class="new_form-group --flex">
        <label class="labelFolrm" for="email">CEP :</label>
        <input type="text" class="imputForm" name="cep" placeholder="CEP" ng-model="userInEdition.cep">
      </div>

      <div class="new_form-group --flex">
        <label class="labelFolrm" for="email">Complemento :</label>
        <input type="text" class="imputForm" name="addition" placeholder="Complemento" ng-model="userInEdition.addition">
      </div>

      <div class="">
        <label class="labelFolrm" for="role">Regra :</label>
        <select name="" id="selectUser" >
        <option value="role_name" ng-repeat="role in roles">{{role.role_name}}</option>
        </select>
      </div>

      <div class="new_form-group --flex">
        <label class="labelFolrm" for="email">Senha :</label>
        <input type="text" class="imputForm" name="password" placeholder="Senha" ng-model="userInEdition.password">
      </div>

      <div>
        <button type="button" name="button" class="changeButtom">Alterar</button>
      </div>

      <div>
        <button type="button" name="button" class="closeButtom" ng-click='closeModal($event,element)'>Cancelar</button>
      </div>
  </div>
</form>
</div>
