

<div ng-include="'js/directives/impulseHeader.html'"></div>

<label for="search" class="UserlabelSearch" >Procurar :</label>
<input type="text" name="search" class = "UserinputSearch" ng-model="filtro">

<button type="button" name="button" class="btnNewClient" ng-click='newUser()'>Novo Usuario</button>

<table class="table">
  <thead>
    <tr>
        <th id="th">Nome</th>
        <th id="th">Email</th>
        <th id="th">Ativo</th>
        <th id="th">Alterar</th>
        <th id="th">Remover</th>
    </tr>
  </thead>
    <tbody class="linhaTabela">
      <tr ng-repeat="user in users|filter: filtro">
        <td id = "td">{{user.first_name +" "+  user.last_name}}</td>
        <td id = "td">{{user.email}}</td>
        <td id = "td">{{user.active}}</td>
        <td id = "td"><button type="button" name="button" class="alterButtom" ng-click='updateUser()'>Alterar</button></td>
        <td id = "td"><button type="button" name="button" class="deleteButtom">Remover</button></td>
    </tr>
  </tbody>
</table>
<!-- <div ng-include="'partials/updateUserModal.html'" ></div> -->
<div ng-include="'partials/newUserModal.html'" ></div>
<div ng-include="'js/directives/impulseFooter.html'"></div>
