@import 'public/scss/colors.scss';
.new-footer{
  background-color: $primary-color;
	position: fixed;
  right: 0px;
  margin-right: 0px;
	width: 100%;
	bottom: 0;
	height: 3em;
}

#frase-footer1{
  font-family: $default-font;
  bottom: 25px;
  left: 20px;
  color: white;
  margin-left: 20px;
}

#frase-footer2{
  position: relative;
  font-family: $default-font;
  bottom: 35px;
  left: 87%;
  color: #fff;
}
